<!-- <h1 id="DataHora">ASP.NET</h1> -->

<div class="wrapper">
    <section id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mt-3 mb-1 pt-5 text-center">
                    <h2 class="title-box"><b>Stefanini</b> | Hackathon</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- <img class="" src="assets/img/contact-lines.svg"> -->

    <section id="content">
        <div class="container-fluid pl-5 pb-3 mb-5 pr-5">
            <div class="row panel-lampadas pb-2">

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-1" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">1º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-2" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">2º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-3" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">3º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-4" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">4º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-5" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">5º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-6" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">6º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-7" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">7º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-8" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">8º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-9" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">9º</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-10" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">10º</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="container-fluid mt-4 mb-3 box-slide">
            <div class="title-fases">Descrição das fases</div>
            <div class="pt-3">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="glide">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">

                                    <li class="glide__slide">
                                        <div class="card right">
                                            <div class="card-header text-center">
                                                FASE - 1
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card incorrect">
                                            <div class="card-header text-center">
                                                FASE - 2
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card right">
                                            <div class="card-header text-center">
                                                FASE - 3
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card right">
                                            <div class="card-header text-center">
                                                FASE - 4
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card right">
                                            <div class="card-header text-center">
                                                FASE - 5
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card right">
                                            <div class="card-header text-center">
                                                FASE - 5
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card right">
                                            <div class="card-header text-center">
                                                FASE - 7
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card incorrect">
                                            <div class="card-header text-center">
                                                FASE - 8
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card incorrect">
                                            <div class="card-header text-center">
                                                FASE - 9
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="card incorrect">
                                            <div class="card-header text-center">
                                                FASE - 10
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <div class="row pb-3">
                                                        <div class="col-md-12 mt-3 on-fases">

                                                        </div>
                                                        <div class="col-md-12 text-center mt-3">
                                                            <i class="fa fa-arrow-down"></i>
                                                        </div>
                                                        <div class="col-md-12 mt-3 off-fases">

                                                        </div>
                                                    </div>
                                                    <footer class="text-ms">1500ms</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- <div class="glide__arrows" data-glide-el="controls">
                              <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                              <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>