<!-- <h1 id="DataHora">ASP.NET</h1> -->

<div class="wrapper">
    <section id="content">
        <div class="container-fluid pl-5 pr-5">
            <div class="row panel-lampadas">

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-1" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">1</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-2" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">2</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-3" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">3</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-4" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">4</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-5" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">5</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-6" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">6</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-7" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">7</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-8" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">8</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-9" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">9</p>
                    </div>
                </div>

                <div class="col mt-3 mb-1 pt-5 text-center">
                    <div id="lampada-10" class="lampadas lampada-off">
                    </div>
                    <div class="box-title text-center">
                        <p class="number">10</p>
                    </div>
                </div>

            </div>
            <div id="interacoes" class="interacoes full-screen">
                
            </div>
        </div>
        <div class="cenario">
            <img class="cat" src="~/Content/img/cat.gif" />
            <img class="desk" src="~/Content/img/desk.svg" />
            <img class="mesa" src="~/Content/img/mesa.svg" />
            <img class="tv" src="~/Content/img/tv.svg" />
            <div class="tv-screen">
                <p id="nomeEquipe"></p>
            </div>

            <img class="skull" src="~/Content/img/skull.svg"/>
            <img class="hackaton" src="~/Content/img/hack.svg"
        </div>
    </section>
</div>