@Html.Partial("_Home")
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script>
        var hubTest = $.connection.mainHub;
        var card = $('#TemplateCard').find('li#second-child').clone();
        var id = 0;
        var scrollH = 0;
        hubTest.client.acender = function (lampada, utlimaAlteracaoLampada, ultimaInteracao) {
            let estadoAnterior = $('#lampada-' + lampada).hasClass('lampada-off') ? 'lampada-off' : 'lampada-on';
            $('#lampada-' + lampada).removeClass('lampada-off');
            $('#lampada-' + lampada).addClass('lampada-on');

            $('#interacoes').append("<div id='interacao" + id + "' class='card-interacao'></div>");

            $('#interacao' + id).append("<div class='numero'>" + id + "</div>");
            $('#interacao' + id).append("<div class='id-lampada'>" + lampada + "</div>");
            $('#interacao' + id).append("<div class='estado-anterior'>" + estadoAnterior + "</div>");
            $('#interacao' + id).append("<div class='estado-atual'>lampada-on</div>");
            $('#interacao' + id).append("<div class='tempo'>" + utlimaAlteracaoLampada + "</div>");

            scrollH += $('#interacao' + id).offset().left*2;
            $('#interacoes').scrollLeft(scrollH)
            console.log(scrollH)
            id++;
        }

        hubTest.client.apagar = function (lampada, utlimaAlteracaoLampada, ultimaInteracao) {
            let estadoAnterior = $('#lampada-' + lampada).hasClass('lampada-off') ? 'lampada-off' : 'lampada-on';
            $('#lampada-' + lampada).removeClass('lampada-on');
            $('#lampada-' + lampada).addClass('lampada-off');

            $('#interacoes').append("<div id='interacao" + id + "' class='card-interacao'></div>");

            $('#interacao' + id).append("<div class='numero'>" + id + "</div>");
            $('#interacao' + id).append("<div class='id-lampada'>" + lampada + "</div>");
            $('#interacao' + id).append("<div class='estado-anterior'>" + estadoAnterior + "</div>");
            $('#interacao' + id).append("<div class='estado-atual'>lampada-off</div>");
            $('#interacao' + id).append("<div class='tempo'>" + utlimaAlteracaoLampada + "</div>");

            scrollH += $('#interacao' + id).offset().left*2;
            $('#interacoes').scrollLeft(scrollH)
            console.log(scrollH)
            id++;
        }

        hubTest.client.reiniciar = function () {
            // Apagar todos os cards!
        }

        hubTest.client.mudarTime = function (time) {
            $("#nomeEquipe").text(time.Nome);
        }

        $.connection.hub.stateChanged(function (s, e, c) {
            if (s.newState != 0)
                Reiniciar();
        });

        function Reiniciar() {
            $.connection.hub.start();

            $.getJSON('./api/lampada/status', (data) => {
                for (var i in data) {
                    var lamapda = $('#lampada-' + data[i]['id-lampada']);

                    if (data[i]['status'])
                        lamapda.addClass('lampada-on');
                    else
                        lamapda.removeClass('lampada-on');
                }
            });

            $.getJSON('./api/equipe', (data) => {
                for (var i in data) {
                    if (data[i]['autorizada']) {
                        $("#nomeEquipe").text(data[i].nome);
                        return;
                    }
                }

                $("#nomeEquipe").text(data[0].nome);
            });
        }

        Reiniciar();
    </script>
}