@Html.Partial("_Home")
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script>
        let id = 1;
        let scrollValue = 0;
        let hubTest = $.connection.mainHub;
        let card = $('#TemplateCard').find('li#second-child').clone();
        let $interacoes = $("#interacoes");
        let $nomeEquipe = $("#nomeEquipe");
        let $content = $("#content");

        hubTest.client.acender = function (lampada, utlimaAlteracaoLampada, ultimaInteracao) {
            Interacao(true, lampada, ultimaInteracao);
        }

        hubTest.client.apagar = function (lampada, utlimaAlteracaoLampada, ultimaInteracao) {
            Interacao(false, lampada, ultimaInteracao);
        }

        hubTest.client.reiniciar = function () {
            $interacoes.empty();
            id = 1;
        }

        hubTest.client.mudarTime = function (time) {
            if (time.Nome == 'squad37') {
                $nomeEquipe.empty()
                $nomeEquipe.append("Squad 37  <i class='fa fa-skull'></i>")
            }
            else
                $nomeEquipe.text(time.Nome);
        }

        hubTest.client.verHistorico = function (exibir) {
            if (exibir) {
                $content.addClass("full-screen");
                $interacoes.scrollTop(0);
            }
            else {
                $content.removeClass("full-screen");
                setTimeout(() => {
                    $interacoes.scrollTop(scrollValue);
                },1000)
            }

        }

        $.connection.hub.stateChanged(function (s, e, c) {
            if (s.newState != 0)
                Recarregar();
        });

        function DefinirStatusLampada(codLampada, estado) {
            let lampada = $('#lampada-' + codLampada);

            if (estado)
                lampada.removeClass('lampada-off').addClass('lampada-on');
            else
                lampada.removeClass('lampada-on').addClass('lampada-off');

            return lampada;
        }

        function Interacao(estado, lampada, utlimaAlteracaoLampada) {
            let estadoAnterior = $('#lampada-' + lampada).hasClass('lampada-on');
            DefinirStatusLampada(lampada, estado);

            let novaInteracao = $("<div id='interacao" + id + "' class='card-interacao'></div>")
                .append("<div class='numero'>" + id + "</div>")
                .append("<div class='id-lampada'><span class='lampada-n'>" + lampada + "</span></div>")
                .append("<div class='estado-anterior " + (estadoAnterior ? "lampada-on" : "lampada-off") + "'></div>")
                .append("<div class='seta fa fa-arrow-right'></div>")
                .append("<div class='estado-atual " + (estado ? "lampada-on" : "lampada-off") + "'></div>")
                .append("<div class='tempo'>" + utlimaAlteracaoLampada + "ms</div>")


            $interacoes
                .append(novaInteracao)
                .scrollTop(scrollValue);

            scrollValue += $("#interacao" + id).offset().top * 2;

            id++;
        }

        function Recarregar() {
            $.connection.hub.start();

            $.getJSON('./api/lampada/status', (data) => {
                for (var i in data) {
                    var lampada = $('#lampada-' + data[i]['id-lampada']);

                    if (data[i]['status'])
                        lampada.removeClass('lampada-off').addClass('lampada-on');
                    else
                        lampada.removeClass('lampada-on').addClass('lampada-off');
                }
            });

            $.getJSON('./api/equipe', (data) => {
                for (var i in data) {
                    if (data[i]['autorizada']) {
                        $nomeEquipe.text(data[i].nome);
                        return;
                    }
                }
                $nomeEquipe.empty()
                $nomeEquipe.append("Squad 37  <i class='fa fa-skull'></i>")
            });
        }

        Recarregar();
    </script>
}