@{
    ViewBag.Title = "Log";
}
<style>
    * {
        color: black;
    }

    li.teste {
        background-color: yellowgreen;
        color: red;
    }
</style>

<ul id="log"></ul>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script>
        var hubTest = $.connection.mainHub;
        var card = $('#TemplateCard').find('li#second-child').clone();

        hubTest.client.acender = function (lampada, utlimaAlteracaoLampada, ultimaInteracao) {
            $("#log").prepend("<li>Acendeu - Lampada: " + lampada + " -> Ultima interação lampada: " + utlimaAlteracaoLampada + " | Ultima interação: " + ultimaInteracao + "</li>");
        }

        hubTest.client.apagar = function (lampada, utlimaAlteracaoLampada, ultimaInteracao) {
            $("#log").prepend("<li>Apagou - Lampada: " + lampada + " -> Ultima interação lampada: " + utlimaAlteracaoLampada + " | Ultima interação: " + ultimaInteracao + "</li>");
        }

        hubTest.client.reiniciar = function () {
            $("#log").prepend("<li class='teste'>Reiniciar!</li>");
        }


        hubTest.client.verHistorico = function (exibir) {
            $("#log").prepend("<li class='teste'>Exibir -> " + exibir ? "Sim" : "Não" + "</li>");
        }


        hubTest.client.mudarTime = function (time) {
            $("#log").prepend("<li>O time mudou! - Novo -> " + time.Nome + "</li>");
        }

        $.connection.hub.stateChanged(function (s, e, c) {
            if (s.newState != 0)
                $.connection.hub.start();
        });

        $.connection.hub.start();
    </script>
}