/* Standard syntax */
@keyframes acende {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes apaga {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes cheguei {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: auto;
    background-color: #f3f3f3;
}

.col {
    padding: 5px !important;
}

.title-box {
    font-size: 45px;
    color: #cad400;
    font-family: Dax;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: -0.9px;
    word-wrap: break-word;
    white-space: normal;
}

.text-header {
    font-size: 25px;
    color: #fff;
    font-family: sans-serif, arial, hevetica;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: -0.9px;
    word-wrap: break-word;
    white-space: normal;
}

.lead {
    font-size: 12px;
}

.card-header {
    font-size: 12px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding-bottom: 1rem;
}

.text-ms {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.card-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-lampadas .box-title {
    color: #000;
    font-size: 25px;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: 15px;
}



/*acender/apagar lâmpadas normais*/

.lampadas {
    width: 100%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

    .lampadas.lampada-on {
        background-image: url('img/lamp-on.png') !important;
        animation-name: acende;
        animation-duration: 100ms;
        transform: scale(1.2);
    }



    .lampadas.lampada-off {
        background-image: url('img/lamp-off.png');
        animation-name: apaga;
        animation-duration: 100ms;
        transform: scale(1)
    }

.img-hackathon {
    width: 100%;
    display: block;
    position: relative;
}

.img-fases-next {
    width: 100%;
    display: block;
    position: relative;
}

.img-fases-prev {
    width: 100%;
    display: block;
    position: relative;
}


.jumbotron {
    background-color: #fff;
    padding: 2rem 0.5rem;
}

.img-hackathon-on {
    width: 100%;
    display: block;
    position: relative;
    box-shadow: 0px 0px 0px yellow;
}

.yellow-jumbotron {
    background-color: #f1f083 !important;
}

.box-slide {
    background-color: rgba(16, 16, 16, 0.45);
    display: block;
    position: relative;
    min-height: 200px;
}

.right {
    background-color: #f5f5eb;
}

.incorrect {
    background-color: #f5f5eb;
}

/*acender/apagar lâmpadas dentro das fases*/

.on-fases {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/lamp-on.png');
    background-position: center;
}

.off-fases {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/lamp-off.png');
    background-position: center;
}

.title-fases {
    height: 110px;
    background-color: #07325e;
    font-size: 25px;
    color: #cad400;
    position: absolute;
    top: -10%;
    left: 10%;
    padding-right: 80px;
    padding-left: 30px;
    transform: rotate(-3deg);
    padding-top: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
}

.blockquote-footer {
    font-size: 14px;
}

.text-direction {
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    text-align: center;
}

.cenario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

    .cenario .cat {
        position: absolute;
        bottom: 100px;
        right: 20px;
        height: 150px;
        margin: -50px;
        z-index: 100;
    }

    .cenario .banco {
        position: absolute;
        bottom: 0;
        height: 100px;
        right: 0;
        z-index: 50;
    }

    .cenario .mesa {
        position: absolute;
        bottom: 0;
        height: 50px;
        left: 50px;
        z-index: 50;
    }

    .cenario .tv {
        position: absolute;
        bottom: 43px;
        height: 200px;
        left: 48px;
        z-index: 50;
    }

    .cenario .tv-screen {
        position: absolute;
        bottom: 106px;
        left: 48px;
        width: 264px;
        height: 138px;
        background-color: black;
        border-radius: 4px 4px 0 0;
        z-index: 51;
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
    }

.interacoes {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: right;
}

    .interacoes .card-interacao {
        height: 300px;
        width: 200px;
        background-color: greenyellow;
        margin: 25px 10px;
        display: inline-block;
        animation-name: cheguei;
        animation-duration: 100ms;
        text-align: center;
    }

        .interacoes .card-interacao:last-child {
            margin-right: 0;
        }
