/* Standard syntax */
@keyframes acende {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes apaga {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes cheguei {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes digitando {
    0%, 49% {
        color: white;
    }

    50%, 100% {
        color: black;
    }
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: auto;
    background-color: #011528;
}

.col {
    padding: 5px !important;
}

.title-box {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: #96BE1E;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: -0.9px;
    word-wrap: break-word;
    white-space: normal;
}

.text-header {
    font-size: 25px;
    color: #fff;
    font-family: sans-serif, arial, hevetica;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: -0.9px;
    word-wrap: break-word;
    white-space: normal;
}

.lead {
    font-size: 12px;
}

.card-header {
    font-size: 12px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.text-ms {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.card-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-lampadas {
    transition: 1s;
    margin-top: 0;
}

.full-screen .panel-lampadas {
    margin-top: -293px;
}


    .panel-lampadas .box-title p {
        font-family: 'Press Start 2P', cursive;
        color: white;
        font-size: 25px;
        font-weight: 800;
        margin-top: 15px;
    }



/*acender/apagar lâmpadas normais*/

.lampadas {
    width: 100%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 75px;
    z-index: 31;
}

    .lampadas::before {
        content: "";
        width: 8px;
        height: 100px;
        background-color: #1e376e;
        left: calc(50% - 4px);
        top: -99px;
        display: block;
        position: absolute;
        z-index: 30;
    }

    .lampadas.lampada-on {
        animation-name: acende;
        animation-duration: 100ms;
        transform: scale(1.2);
    }

    .lampadas.lampada-off {
        animation-name: acende;
        animation-duration: 100ms;
        transform: scale(1.2);
    }

.lampada-on {
    background-image: url('img/lamp-on.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.lampada-off {
    background-image: url('img/lamp-off.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




.img-hackathon {
    width: 100%;
    display: block;
    position: relative;
}

.img-fases-next {
    width: 100%;
    display: block;
    position: relative;
}

.img-fases-prev {
    width: 100%;
    display: block;
    position: relative;
}


.jumbotron {
    background-color: #fff;
    padding: 2rem 0.5rem;
}

.img-hackathon-on {
    width: 100%;
    display: block;
    position: relative;
    box-shadow: 0px 0px 0px yellow;
}

.yellow-jumbotron {
    background-color: #f1f083 !important;
}

.box-slide {
    background-color: rgba(16, 16, 16, 0.45);
    display: block;
    position: relative;
    min-height: 200px;
}

.right {
    background-color: #f5f5eb;
}

.incorrect {
    background-color: #f5f5eb;
}

/*acender/apagar lâmpadas dentro das fases*/

.on-fases {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/lamp-on.png');
    background-position: center;
}

.off-fases {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/lamp-off.png');
    background-position: center;
}

.title-fases {
    height: 110px;
    background-color: #07325e;
    font-size: 25px;
    color: #cad400;
    position: absolute;
    top: -10%;
    left: 10%;
    padding-right: 80px;
    padding-left: 30px;
    transform: rotate(-3deg);
    padding-top: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
}

.blockquote-footer {
    font-size: 14px;
}

.text-direction {
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    text-align: center;
}

.full-screen .cenario {
    top: 293px;
}

.cenario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 50;
    transition: 1s;
}

    .cenario .cat {
        position: absolute;
        bottom: 105px;
        right: 80px;
        height: 150px;
        margin: -50px;
        z-index: 100;
    }

    .cenario .banco {
        position: absolute;
        bottom: 0;
        height: 100px;
        right: 0;
        z-index: 50;
    }

    .cenario .mesa {
        position: absolute;
        bottom: 0;
        height: 50px;
        left: 50px;
        z-index: 50;
    }

    .cenario .desk {
        position: absolute;
        bottom: 0;
        height: 200px;
        right: 20px;
        z-index: 50;
    }

    .cenario .tv {
        position: absolute;
        bottom: 43px;
        height: 200px;
        left: 48px;
        z-index: 50;
    }

    .cenario .tv-screen {
        position: absolute;
        bottom: 106px;
        left: 48px;
        width: 263px;
        height: 138px;
        background-color: black;
        border-radius: 4px 4px 0 0;
        z-index: 51;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 2px solid white;
        font-family: 'Press Start 2P', cursive;
        padding: 8px;
    }

        .cenario .tv-screen p:after {
            content: "|";
            animation: digitando 1s infinite;
        }

    .cenario .hackaton {
        position: absolute;
        bottom: -70px;
        left: calc(50% - 450px);
        width: 1000px;
    }

    .cenario .skull {
        position: absolute;
        bottom: -33px;
        left: calc(50% - 55px);
        width: 200px;
    }

.interacoes {
    width: 100%;
    overflow-y: auto;
    height: 366px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid white;
    transition: 1s;
}

.full-screen .interacoes {
    background-color: #011528;
    height: 100vh;
    position: relative;
    z-index: 40;
}

.interacoes .card-interacao {
    width: 135px;
    height: 130px;
    margin: 25px 5px;
    display: inline-block;
    animation-name: cheguei;
    animation-duration: 100ms;
    text-align: center;
    position: relative;
    background-color: #1e376e;
}


    .interacoes .card-interacao .numero {
        font-family: 'Press Start 2P', cursive;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 0;
        padding: 0 5px;
        min-width: 40px;
        bottom: -22px;
        left: -9px;
        font-size: 11px;
    }

    .interacoes .card-interacao .id-lampada {
        padding: 5px 10px;
        margin-bottom: 20px;
        text-align: left;
    }

        .interacoes .card-interacao .id-lampada .lampada-n {
            font-family: 'Press Start 2P', cursive;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: greenyellow;
            background: #1e376e;
            border-radius: 50px;
            padding: 0 5px;
            min-width: 60px;
            height: 40px;
            top: -15px;
            font-size: 20px;
            right: calc(50% - 30px);
        }

    .interacoes .card-interacao .estado-anterior {
        height: 40px;
        width: 50%;
        display: inline-block;
    }

    .interacoes .card-interacao .seta {
        color: white;
        position: absolute;
        top: 43px;
        left: calc(50% - 15px);
        font-size: 30px;
    }

    .interacoes .card-interacao .estado-atual {
        height: 50px;
        width: 50%;
        display: inline-block;
    }

    .interacoes .card-interacao .tempo {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Press Start 2P', cursive;
        color: white;
    }


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #011528;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
